<div class='analytics'>

<br><br>
 <table class="table table-hover table-dark"> <h4>Leaderboard</h4>
  <thead>
    <th> Username </th>
    <th> Games Played </th>
    <th> Games Won </th>
    <th> Percentage Won </th>
  </thead>
  
    <% User.winners.each do |user| %> 
  <tbody>
    <td> <%= user.username %></td>
    <td> <%= user.games_played.count %></td>
    <td> <%= user.games_won %> </td>
    <td> <%= user.percentage_won.round(2) %>% </td>
  </tbody>
    <% end %>
</table>

</div>