<h1><%= User.find(@game.winner).username %> won the game! </h1>

<div>
    <% if User.find(@game.winner).username == 'COMPUTER' %>
        <img src="https://media.giphy.com/media/l3vQY9AQCSP3WtLBS/giphy.gif" width="480" height="270" ><br>
    <% else %>
        <img src="https://media.giphy.com/media/XwcUys5UMuwlq/giphy.gif" width="480" height="270" ><br>
    <% end %>
    <br><%= link_to 'OK', root_path, class:'btn btn-success' %>
</div>
<h1>and <%= User.find(@game.loser).username %> is the loser! </h1>