 <div class='container'>
        <% @cards.each do |card| %>
            <div class="card">
                    <img src=<%= card.img_path %> alt="<%= card.name%>">               
            </div>
        <% end %>
 </div>
 