// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    text-align: center;
}

div.board-flex-container {
    display: flex;
}

.flex-side {
    flex-basis: 25%;
}

.flex-middle {
    flex-basis: 50%;
}

div.board-flex-container form h4 {
    font-size: 3em;
}

div.questions-asked-container h4 {
    font-size: 3em;
}

div.board-flex-container form label {
    font-size: 1.5em;
}

div.board-flex-container form {
    margin-top: 15%;
}

div.board-flex-container div.questions-asked-container {
    margin-top: 5%;
}

.flex-form select {
    width: 200px;
}

