// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.card {
    max-width: 131px;
    max-height: 153px;

    
    border: 3px solid rgb(55, 47, 47);
    border-radius: 5px;
    margin: 5px;
}

div.card img {
    max-width: 125px;
    max-height: 147px;
    min-width: 110px;
    min-height: 125px;
}

div.container#true {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 5px solid #111;
    box-shadow: 20px 20px 7px #999999;
    border-bottom-right-radius: 15px;
    border-radius:25px;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: red;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/02/51/61/595782719800bcf.jpg");
}

div.container#false {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: 3px solid #111;
    box-shadow: 20px 20px 7px #999999;
    border-bottom-right-radius: 15px;
    border-radius:25px;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: blue;
    background-image: url("https://blueblots.com/wp-content/uploads/2010/02/16-Bandwidth-Blue-pattern.jpg");
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: green;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }