// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label.choose-player-heading {
    font: 600 1em 'Raleway', sans-serif;
    text-transform: uppercase;
    width: 50%;
    margin: 20px auto;
    font-weight: 900;
    color: #efedce;
    letter-spacing: .1em;
    padding: .2em 0 .25em 0;
    font-size: 2.5em;
    text-shadow: .04em .04em 0 #9cb8b3;
}



div.select-user-form {
    width: 30%;
    margin: 0 auto;
}

#question_attribute_type {
    width: 100px;
}

#question_attribute_value {
    width: 100px;
}