// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-form-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

input.btn {
    margin: 10px 0;
}